# أساسيات Django
Django==5.1.7
dj-database-url==3.0.1
sqlparse==0.5.3
psycopg2-binary==2.9.10

# Static + Media
whitenoise==6.9.0
cloudinary==1.43.0
django-cloudinary-storage==0.3.0

# Django Admin (Jazzmin + Bootswatch)
django-jazzmin==3.0.0


# Django إضافات
django-filter==25.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
drf-nested-routers==0.94.2

# أدوات مساعدة
python-dotenv==1.1.0
pillow==11.1.0
qrcode==8.2

# Deployment
gunicorn==23.0.0
